.link {
    color: black;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 600;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 5px 10px;
}

.link:visited {
    color: black;
}

.active {
    background-color: #3559d6;
    color: white;
}

.active:visited {
    color: white;
}
